<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>Riou</title>
	<!-- responsive support -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Le styles -->
	<link href="/media/css/bootstrap.css" rel="stylesheet">
	<link href="/media/css/custom.css" rel="stylesheet">
	<link href="/media/css/bootstrap-responsive.css" rel="stylesheet">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body>

	<!-- Part 1: Wrap all page content here -->
	{% block wrapper %}
	<div id="wrap">
	{% endblock %}

	<div class="container" id="container-main">
	{% block body %}
	{% endblock %}

	<div id="push"></div> <!-- #push goes inside container -->
	</div> <!-- /container -->
	</div> <!-- end #wrap -->
	
	<footer class="footer">
		<div class="container">
			{% block footer %}
			{% endblock %}
		</div>
	</footer>
	<!-- Le javascript -->
	<link rel="stylesheet" href="/media/css/flick/jquery-ui-1.9.1.custom.css" />    
	<script src="/media/js/jquery-1.8.2.js"></script>
	<script src="/media/js/jquery-ui-1.9.1.custom.js"></script>	
	<script src="/media/js/bootstrap.js"></script>
	<script>
		// use the jquery UI datepicker on all pages with the datepicker class:
		$(".datepicker").datepicker({ minDate: 0});
	</script>
	{% block extrajs %}
	{% endblock %}
  </body>
</html>

