{% extends 'base.html' %}

{% block body %}

Thanks! Your confirmation code is {{uuid}}. Use this to refer to your response. In case you have any questions, contact {{ email }}

<a href="/"><div class="submit-button"><input type="submit" value="Voltar"></div></a>
{% endblock %}