{% extends 'base.html' %}

{% block body %}

<div id="intro">
<h1>Riou</h1>
<img src="https://www.bikiniartmuseum.com/files/bikiniartmuseum/collection/Swimwear%20&%20Fashion%20Blog%20Photos/Ipanema%20RIO-BEACH.jpg"
height="60%" width="60%">
<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pretium risus ut justo vulputate congue. Nullam at
    massa a lacus sollicitudin iaculis id ac mi. Aliquam dapibus, nibh eu sollicitudin vehicula, eros neque varius
    ligula, vitae bibendum tortor ex ut mi. Praesent id neque viverra, luctus elit ut, tincidunt ligula. Integer cursus
    scelerisque tincidunt. Maecenas nunc velit, sollicitudin non augue at, euismod finibus ante. Quisque vehicula tempor
    odio, ac laoreet sapien. Duis aliquet id magna quis aliquet. Maecenas lobortis erat risus, ut venenatis diam
    pharetra a. Integer nisl nibh, placerat id aliquam vel, ultricies sed felis. Curabitur semper aliquam diam,
    varius dictum purus auctor sit amet.
</div>

<div>
	<a href="/survey/1">Take the Survey</a> || 
	<a href="/privacy/">Read the Privacy Statement</a>
</div>
</div>

{% endblock %}
