{% extends 'base.html' %}
{% load survey_extras %}

{% block body %}

<div style="text-align: center;">
    <h1>Pesquisa de satisfação {{client_name}}</h1>
	<form action="/survey/{{client}}/" method="post">{% csrf_token %}

        {% for response_form in form_list %}
            <div class="survey-questions">
			<h3 class="collapsible">{{response_form.0}}<span></span></h3>
                <div class="category-container">
                {% for field in response_form.1 %}
                    {% if 1 == 1 %}
                        <li class="q-item" value="{% counter %}">
                            {% if field.field.required %}
                                <div class="field-wrapper question-required">
                                    {{ field.errors }}
                                    <span class="asterix"> * </span><label class="label-inline">{{ field.label }}</label>
                                </div>
                            {% else %}
                                <div class="field-wrapper">
                                    {{ field.errors }}
                                    <label class="label-inline">{{ field.label }}</label>
                                </div>
                            {% endif %}
                                <span class="form-help-text">{{ field.help_text}}</span>
                                <div class="form-field-body">
                                    {{ field }}
                                </div>
                        </li>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        {% endfor %}

		<div class="submit-button"><input type="submit" value="Enviar"></div>
	</form>

</div>

{% endblock %}

{% block extrajs %}
	<script src="/media/js/jquery.collapsible.js"></script>	
	<script type="text/javascript">
		$(document).ready(function() {
			//collapsible management
			$('.collapsible').collapsible({defaultOpen: 'response_metadata'});
		});
	</script>
{% endblock %}